@page "{id:int}"
@model EditModel
@{
    ViewData["Title"] = "Edit";
}


<h1>Edit Contact</h1>

<form method="post">
    <input type="hidden" asp-for="cliente.Id" />

    <div class="form-group">
        <label asp-for="cliente.Name"></label>
        <input asp-for="cliente.Name" class="form-control" />
        <span asp-validation-for="cliente.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cliente.ContactNumber"></label>
        <input asp-for="cliente.ContactNumber" class="form-control" />
        <span asp-validation-for="cliente.ContactNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cliente.Email"></label>
        <input asp-for="cliente.Email" class="form-control" />
        <span asp-validation-for="cliente.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-page="./Index">Back to List</a>
</form>
